#intro_section {
    display: block;
}

#questions_section {
    display: none;
}

#final_score_section {
    display: none;
}


#high_scores_section {
     display: none;
}

.button {
    background-color: pink;
}

#timer {
    display: none;
}